.main-major-shareholders__container__board{
    background-color: $main-color !important;
    &__data{
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        &__table{
            min-width: 100%;
            &__row{
                border-bottom: 1px solid $white;
                &:first-child{
                    border-bottom: unset;
                    td{
                        padding-top: 0px;
                    }
                }
                &:nth-child(2){
                    td{
                        padding-top: 0px;
                    }
                }
                &__data{
                    font-size: 16px;
                    text-align: right;
                    padding: 10px 30px;
                    word-wrap: break-word;
                    width: calc(100% / 5);
                    min-width: 280px;
                    &.date{
                        padding-top: 40px;
                    }
                    @media(max-width:479px){
                        font-size: 3.4vw;
                        padding: 10px;
                    }
                    &__table{
                        width: 100%;
                        .num{
                            padding-left: 20px;
                            width: 50px;
                            @media(max-width:479px){
                                width: 10vw;
                                padding-left: 5vw;
                            }
                        }
                        .name{
                            font-weight: bold;
                        }
                    }
                    &:first-child{
                        width: 300px;
                        min-width: 300px;
                        text-align: right;
                        padding-right: 0px;
                        position: sticky;
                        right: 0;
                        background-color: $main-color;
                        @media(max-width:479px){
                            min-width: 50vw;
                            width: 50vw;
                        }
                    }
                    &:last-child{
                        padding-left: 0px;
                        width: 130px;
                        min-width: 130px;
                    }
                }
            }
        }
    }
}