.Major-Shareholders {
    background-color: $main-background;
    border-radius: unset;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    &__title {
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 20px;
        @media(max-width:479px){
            font-size: 5vw;
        }
    }
    &__container{
        margin-bottom: 50px;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
    }
    &__table {
        min-width: 100%;
        &__row {
            border-bottom: 1px solid $white;
            &__header {
                padding: 10px;
                text-align: center;
                font-weight: bold;
                @media(max-width:767px){
                    min-width: 50vw;
                }
                &:first-child{
                    padding-right: 0px;
                    text-align: right;
                    @media(max-width:767px){
                        min-width: 40vw;
                    }
                }
                &:last-child{
                    padding-left: 0px;
                    @media(max-width:767px){
                        min-width: unset !important;
                    }
                }
                &__text {
                    font-size: 16px;
                    @media(max-width:479px){
                        font-size: 3.4vw;
                    }
                }
            }
            &__data {
                padding: 10px;
                text-align: center;
                @media(max-width:767px){
                    min-width: 50vw;
                }
                &:first-child{
                    padding-right: 0px;
                    text-align: right;
                    @media(max-width:767px){
                        min-width: 40vw;
                    }
                }
                &:last-child{
                    padding-left: 0px;
                    @media(max-width:767px){
                        min-width: unset !important;
                    }
                }
                &__text {
                    font-size: 16px;
                    @media(max-width:479px){
                        font-size: 3.4vw;
                    }
                }
            }
        }
    }
    &__more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 15px;
        left: 15px;
        bottom: 15px;
        border-top: 1px solid $white;
        color: $white;
        text-decoration: none;
        font-weight: bold;
        padding-top: 5px;
        @media (max-width: 991px) {
            position: unset;
        }
        &:hover {
            color: $white;
            text-decoration: none;
        }
        &__icon {
            font-size: 13px;
        }
    }
}
