.milestones {
    background-color: $main-background;
    border-radius: unset;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    position: relative;
    &__title {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 25px;
        @media(max-width:479px){
            font-size: 5vw;
        }
    }
    &__list {
        list-style-type: none;
        padding-right: 0px;
        &__item {
            border-bottom: 1px solid $white;
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 10px 0px;
            &:first-child{
                padding-top: 0px;
            }
            @media(max-width:767px){
                display: block;
            }
            @media(max-width:479px){
                font-size: 3.4vw;
            }
            &__number {
                width: 30%;
                @media(max-width:767px){
                    display: inline-block;
                    width: unset;
                    margin-bottom: 5px;
                    border: 1px solid white;
                    padding: 3px;
                }
            }
            &__name {
                text-align: right;
                width: 70%;
                @media(max-width:767px){
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
