.main-corporate-actions {
    background-color: $main-background;
    border-radius: unset;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    position: relative;
    &__panner {
        display: none;
        position: absolute;
        top: 50%;
        color: $white;
        transition: all 0.5s;
        z-index: 200;
        font-size: 13px;
        @media (max-width: 1350px) {
            display: block;
        }
        &:hover {
            cursor: pointer;
            color: $white;
        }
    }
    .active-scroll {
        color: $green;
    }
    #main-corporate-actions__pan-left {
        left: 1px;
    }
    #main-corporate-actions__pan-right {
        right: 1px;
    }
    &__tabs {
        list-style: none;
        display: flex;
        align-items: center;
        color: $white;
        margin-bottom: 24px;
        @media(max-width:479px){
            justify-content: space-between;
        }
        li {
            cursor: pointer;
            font-size: 25px;
            border-bottom: 2px solid transparent;
            @media(max-width:479px){
                font-size: 5vw;
            }
            &:first-child {
                margin-right: 30px;
                @media(max-width:767px){
                    margin-right: 25px;
                }
                @media(max-width:479px){
                    margin-right: 0px;
                }
            }
        }
        .active {
            font-weight: bold;
            border-bottom: 2px solid $white;
        }
    }
    .main-corporate-actions__container > div:not(:first-child) {
        display: none;
    }
    &__capital-changes,
    &__dividend-history {
        white-space: nowrap;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        &__table {
            width: 100%;
            &__row {
                border-bottom: 1px solid $white;
                &:first-child{
                    border-top: 1px solid $white;
                }
                &__data {
                    text-align: center;
                    padding: 10px;
                    font-size: 16px;
                    min-width: 150px;
                    @media(max-width:479px){
                        font-size: 3.4vw;
                        min-width: 25vw;
                    }
                    &:first-child {
                        min-width: 20vw;
                        position: sticky;
                        left: 0;
                        background-color: $main-color;
                        text-align: left;
                        padding-left: 0px;
                        min-width: 100px;
                        @media(max-width:479px){
                            min-width: 20vw;
                        }
                    }
                    &:last-child{
                        padding-right: 0px;
                    }
                    &__link {
                        svg {
                            width: 16px;
                            height: 16px;
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
