.marketvalue {
    background-color: $main-background;
    border-radius: unset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 24px;
    width: calc(66.7% - 8px);
    @media (min-width: 768px) and (max-width: 1000px) {
        width: 100%;
        order: 5;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $white;
        padding: 15px;
        background-color: $main-color;
        color: $white;
        width: 100%;
        &__title {
            font-size: 25px;
            @media(max-width:479px){
                font-size: 5vw;
            }
        }
        &__value {
            font-size: 17px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 15px;
        @media (max-width: 549px) {
            display: block;
        }
        &__right {
            width: 50%;
            padding-left: 15px;
            @media (max-width: 549px) {
                width: 100%;
                padding: 0px 15px;
            }
            &__data {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 70px;
                border-bottom: 1px solid $white;
                br {
                    @media (max-width: 549px) {
                        display: none;
                    }
                }
                &__text {
                    text-align: left;
                    font-size: 17px;
                    @media (max-width: 549px) {
                        display: flex;
                        align-items: baseline;
                    }
                    &--small {
                        font-size: 11px;
                        @media (max-width: 549px) {
                            margin-left: 5px;
                        }
                    }
                }
                &__number {
                    text-align: right;
                    padding-right: 25px;
                    font-size: 17px;
                    @media (max-width: 549px) {
                        padding-right: 0px;
                    }
                }
            }
        }
        &__left {
            width: 50%;
            padding-right: 15px;
            @media (max-width: 549px) {
                width: 100%;
                padding: 0px 15px;
            }
            &__data {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 70px;
                border-bottom: 1px solid $white;
                br {
                    @media (max-width: 549px) {
                        display: none;
                    }
                }
                &__text {
                    text-align: left;
                    padding-left: 25px;
                    font-size: 17px;
                    line-height: 17px;
                    @media (max-width: 549px) {
                        padding-left: 0px;
                        display: flex;
                        align-items: baseline;
                    }
                    @media (min-width: 550px) and (max-width: 679px) {
                        padding-left: 5px;
                    }
                    &--small {
                        font-size: 11px;
                        @media (max-width: 549px) {
                            margin-left: 5px;
                        }
                    }
                }
                &__number {
                    text-align: right;
                    font-size: 17px;
                }
            }
        }
        &__change {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0px 15px;
            height: 70px;
            @media (max-width: 590px) {
                height: unset;
            }
            &__name {
                font-size: 17px;
                @media (max-width: 590px) {
                    width: 100%;
                    margin-top: 45px;
                }
            }
            &__data {
                text-align: left;
                @media (max-width: 590px) {
                    width: 50%;
                    margin-top: 10px;
                    &:nth-child(3),
                    &:nth-child(5) {
                        text-align: right;
                    }
                    &:nth-child(4) {
                        // margin-left: 40%;
                    }
                }
                &__period {
                    display: block;
                    font-size: 14px;
                    margin-bottom: 3px;
                }
                &__perecntage {
                    display: block;
                    color: $white;
                    font-size: 17px;
                }
            }
        }
    }
}
