.salaries {
    width: 100%;
    &__years {
        display: flex;
        justify-content: space-between;
        background-color: $main-background;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 100%;
        margin-bottom: 24px;
        @media (max-width: 767px) {
            display: block;
        }
        &__title {
            font-weight: 400;
            font-size: 25px;
            @media(max-width:479px){
                font-size: 5vw;
            }
        }
        &__tabs {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 0px;
            @media (max-width: 767px) {
                justify-content: space-between;
                margin-top: 15px;
            }
            @media(max-width:479px){
                margin-top: 4vw;
            }
            li {
                cursor: pointer;
                margin: 0px 20px;
                font-size: 18px;
                color: #c4c4c4;
                @media (max-width: 767px) {
                    margin: 0px 0px;
                }
                @media(max-width:479px){
                    font-size: 4vw;
                  }
                &:last-child {
                    margin-right: 0px;
                }
            }
            .active {
                font-weight: bold;
                color: $white;
            }
        }
    }
    &__container {
        background-color: $main-background;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin-top: 24px;
    }
    &__container > div:not(:first-child) {
        display: none;
    }
    &__details {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        &__table {
            min-width: 100%;
            &__row {
                border-bottom: 1px solid $white;
                &:last-child{
                    border-bottom: unset;
                    td{
                        padding-bottom: 0px;
                    }
                }
                &__head {
                    text-align: center;
                    padding: 10px;
                    width: 25%;
                    word-wrap: break-word;
                    font-weight: bold;
                    min-width: 200px;
                    @media(max-width:479px){
                        font-size: 3.4vw;
                        min-width: 40vw;
                    }
                    &:first-child {
                        text-align: left;
                        padding-left: 0px;
                        min-width: 250px;
                        @media(max-width:479px){
                            min-width: 40vw;
                        }
                    }
                    &:last-child{
                        padding-right: 0px;
                    }
                    &:nth-child(3){
                        min-width: 400px;
                        @media(max-width:479px){
                            min-width: 100vw;
                        }
                    }
                }
                &__data {
                    text-align: center;
                    padding: 10px;
                    width: 25%;
                    word-wrap: break-word;
                    min-width: 200px;
                    @media(max-width:479px){
                        font-size: 3.4vw;
                        min-width: 40vw;
                    }
                    &:first-child {
                        text-align: left;
                        min-width: 250px;
                        padding-left: 0px;
                        @media(max-width:479px){
                            min-width: 40vw;
                        }
                    }
                    &:last-child{
                        padding-right: 0px;
                    }
                    &:nth-child(3){
                        min-width: 400px;
                        @media(max-width:479px){
                            min-width: 100vw;
                        }
                    }
                }
            }
        }
    }
}
